.App {
  background-color: #feb95d;
}

.nodata {
  font-size: 30px;
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
}

.listofdata {
  font-size: 28px;
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
}

.inputstyle {
  margin-left: 20%;
}

img {
  margin-left: 10%;
  height: 440px;
  background-color: #feb95d;
}
